.auth-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.auth-box {
  background: #0f172a;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.auth-box h2 {
  text-align: center;
}

.auth-box input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #1e293b;
  background: #020617;
  color: white;
}

.auth-btn {
  background: #3b82f6;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-btn:hover {
  background: #2563eb;
}

.switch-text {
  font-size: 13px;
  text-align: center;
}

.switch-text span {
  color: #3b82f6;
  cursor: pointer;
  font-weight: 600;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
